* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background: #444;
  padding: 25px 50px;
  font-size: 1.6em;
  font-weight: 500;
}
header {
  width: 100%;
  height: 600px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 3px solid #fff;
  background: url(..//assets/images/headerBGK.jpeg);
  background-size: cover;
  background-position: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 150px;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
  header > p {
    color: #fff;
    margin-top: -25px;
    background: rgba(24, 5, 5, 0.67);
  }
section {
  width: 100%;
  min-height: 300px;
  padding: 100px 50px;
  border: 3px solid #fff;
}
#about-me {
  background: #fff;
  color: #333;
  font-size: 1.1em;
  align-items: center; /* Centers the image vertically if the text is short */
  justify-content: space-between;
}
.thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #333;
  float: right;
  margin-left: 30px;
  margin-bottom: 75px;
  border-radius: 10px;
}
#about-me > h2 {
  font-family: "Kaushan Script", cursive;
}
#career-goals {
  background: #222;
  color: #fff;
  font-size: 1.1em;
}
#career-goals > h2 {
  font-family: "Kaushan Script", cursive;
}
#showcase-samples{
  background: #fff;
  color: #333;
  font-family: 1.1em;
}
#showcase-samples > h2 {
  font-family: "Kaushan Script", cursive;
}

.showcase-section {
  text-align: center;
  padding: 20px;
}

.showcase {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-wrap: wrap;
  gap: 30px;               /* Space between showcase thumbnails */
}

.showcase-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;  
  margin-bottom: 75px;  /* Optional: Makes it slightly rounded */
}
#contact {
  background: #222;
  color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 1.1em;
}
#contact > h2 {
  font-family: "Kaushan Script", cursive;
}
  #contact > a:link {
    color: #fff;
  }
  .contact-section {
    text-align: center;
    padding: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between icons */
  }
  
  .social-icon {
    width: 64px;       /* Sets the width of the icon */
    height: 64px;      /* Sets the height of the icon */
    object-fit: cover; /* Keeps the icon's aspect ratio */
    border-radius: 50%; /* Makes the icon circular */
    transition: transform 0.3s; /* Adds a hover effect */
  }
  
  .social-icon:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  
footer {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
  color: #fff;
}
